# Cognito
COGNITO_EMAILS_FROM=
COGNITO_EMAILS_REPLY_TO=

# SES
SES_ARN=

# Route 53
ROUTE_53_HOSTED_ZONE_ID=

# API Gateway Custom Domain
API_DOMAIN=
DISABLE_DEFAULT_APIGW_ENDPOINT=

# Alarms
DLQ_ALARM_EMAIL=
